.box-header {
    width: 100%;
    background-color: var(--gray-color);
    height: 10vh;
}

.box-header .inner-header {
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;
}

.box-header .inner-header .tt-header {
    font-weight: 600;
    font-size: 1.2rem;
}